@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#error {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  text-align: center;
}

#error-message {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

#error-button {
  border: none;
  background-color: rgba(188, 179, 179, 0.3);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 30px;
}

#error-button:hover {
  background-color: rgba(188, 179, 179, 0.4);
}

#error-button:active {
  background-color: rgba(188, 179, 179, 0.5);
}

#loading {
  font-size: 3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: default;
}

#dots span {
  opacity: 0;
  display: inline-block;
  animation: blink 1.5s infinite steps(1, end);
}

#dots span:nth-child(2) {
  animation-delay: 0.3s;
}

#dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#wrapper {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

#search {
  display: flex;
  align-items: center;
  width: fit-content;
}

#search-city {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: rgba(188, 179, 179, 0.3);
  border: none;
  border-radius: 30px;
}

#search-city:focus {
  outline: 1px solid rgba(161, 153, 153, 1);
}

#search-svg {
  background: none;
  border: none;
  margin-left: -24px - 20px;
  cursor: pointer;
}

#info {
  text-align: center;
  margin-right: 10px;
}

#blink {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

main {
  display: flex;
  align-items: stretch;
  max-height: 700px;
  margin: auto 0;
  flex: 1;
}

#weather,
aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  flex-direction: column;
  flex: 30%;
}

#weather {
  height: 560px;
  cursor: default;
  flex: 50%;
}

#current-weather {
  background-color: rgba(188, 179, 179, 0.4);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 75%;
}

#weather-icon {
  width: 350px;
  height: 350px;
  margin-top: -70px;
}

#weather-info {
  text-align: center;
}

#weather-name {
  font-size: 3rem;
}

#temp,
#wind-speed {
  font-size: 2rem;
}

#feels-like {
  font-size: 1.8rem;
}

#wind {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wind-speed {
  margin-right: 10px;
}

#wind-icon {
  width: 25px;
  height: 25px;
}

aside {
  height: 560px;
}

#forecast {
  cursor: default;
  width: 75%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#forecast > div {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
  padding: 5px;
  background-color: rgba(188, 179, 179, 0.4);
  border-radius: 30px;
  margin-bottom: 10px;
}

#forecast-32 {
  margin-bottom: 0 !important;
}

.forecast-icon {
  width: 94px;
  height: 94px;
  margin-right: 10px;
}

@media screen and (max-width: 1225px) {
  #wrapper {
    padding: 10px;
  }

  #forecast > div {
    font-size: 1rem;
  }

  #weather-icon {
    width: 300px;
    height: 300px;
    margin-top: -70px;
  }

  #weather-name {
    font-size: 2.5rem;
  }

  #temp,
  #wind-speed {
    font-size: 1.5rem;
  }

  #feels-like {
    font-size: 1.2rem;
  }

  #current-weather,
  #forecast {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  #current-weather,
  #forecast {
    width: 90%;
  }

  #weather-name {
    margin: 0 15px;
  }
}
